.app-container {
  padding: 20px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
}
.automate-btn{
  padding: 10px;
  width: 200px;
  font-weight: 600;
  font-size: medium;
  border-radius: 10px;
}